<div class="row text-center  mt-4">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        <img src="{{ link }}" class="img-thumbnail w-75" alt="profile">
        <h5 class="mt-1">{{ name }}</h5>
    </div>

    <div class="col-lg-4 mt-5">
        <h1>About the Author</h1>
        <p>{{message}}</p>
    </div>
    <div class="col-lg-4"></div>
</div>